# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec

# Virtual environment
venv/
.venv/
.env

# Build of executable
build/
dist/

# Qt / PySide
*.ui~
*.qrc

# IDE
.vscode/
.idea/

# Sistem
.DS_Store
Thumbs.db

# Temp
tempCodeRunnerFile.py
REMOTE_JOBS.txt